<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style2.css">
    <title>KURS - О Компании</title>
</head>
<body>
    <header>
        <h1 class='pages'>Портфолио
			<a href="/">НА ГЛАВНУЮ</a>
            <a href="portfolio">ПОРТФОЛИО</a>
			<a href="contacts">КОНТАКТЫ</a>
            <a href="about" class="margin">О КОМПАНИИ</a>
			<a href="price" class="margin">ЦЕНОВАЯ ПОЛИТИКА</a>
		</h1>
        <hr>
    </header>
    <div class="content">
		
        <div class='cooltext'>Являясь одновременно и ремеслом, и искусством, архитектура требует применения как технических навыков, так и
            творческого потенциала. Архитектурное бюро «KURS» объединяет специалистов, готовых предложить грамотные
            функционально-технические решения, облаченные в творчество. Сотрудники бюро имеют все качества, которые необходимы
            для разработки уникального проекта любой сложности. Коллектив архитектурного бюро KURS, под управлением Ивана
            Бакушина и Марии Воропаевой, выполнил более 100 проектов разного масштаба: комплексное архитектурное проектирование,
            реконструкция, дизайн интерьеров.</div>
        <br>
        <div class='cooltext'>Для создания проекта требуется командная работа всего коллектива. Командный дух, четкая и оперативная реализация поставленных задач – сегодня это безусловная норма. В архитектурном бюро сотрудничают высококвалифицированные дизайнеры и архитекторы, инженеры и конструкторы, каждый из которых любит свою работу, а потому прилагает к ней не только свои знания, но и талант. Специалисты компании усердно заботятся об общем деле и работают на результат – это во многом обеспечивается дружеской и творческой атмосферой.</div>

        <br>
        <div class='cooltext'>Мы с каждым днём улучшаем наши стандарты качества, чтобы заказчику было удобно работать с компанией. Правило, которого мы придерживаемся - "Клиент не должен думать удобно ли "это", нам, мы должны быть всегда готовы помочь клиенту разрешить любые вопросы". Мы доступны 24\7 по телефону на горячей линии. Ответ на письма в электронной почте происходит в автоматическом и полуавтоматическом форматах. </div>

        <br>
        <div class='cooltext'>Наша компания была основана в 2009 году. Мы до сих пор придерживаемся новым стандартам и стараемся следить за трендами, модой и стилем. Поэтому, Вы можете найти нас на просторах интернета, мы есть в большом количестве социальных сетей.</div>
		
		<h2><a class="nav_p_link" href="https://imuntouchable.github.io/#">Кафе "Гараж" </a></h2>
		

		<div class="row">
			
			
			<div class='cooltext'>Если вы привыкли двигаться в ускоренном темпе, то сама идея быстрой еды для вас не будет в новинку. Для тех, кто желает скорее перекусить в перерыве между делами, кафе быстрого питания Гараж предлагает ряд простых, но питательных блюд по умеренным ценам. Еда готовится таким образом, чтобы ее можно было взять с собой. Всех гостей ждут по адресу: Республика Северная Осетия — Алания, улица Морских Пехотинцев, 8. Для гостей заведение работает Пн-вс: 10:00 - 23:00.</div>
			<div class="img"><img src="static/images/garage.jpg"></div>
		</div>
			
			
        


    </div>
</body>
</html>
