<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style2.css">
    <title>KURS - Контакты</title>
</head>
<body>
    <header>
        <h1 class='pages'>Портфолио
			<a href="/">НА ГЛАВНУЮ</a>
            <a href="portfolio">ПОРТФОЛИО</a>
			<a href="contacts">КОНТАКТЫ</a>
            <a href="about" class="margin">О КОМПАНИИ</a>
			<a href="price" class="margin">ЦЕНОВАЯ ПОЛИТИКА</a>
		</h1>
        <hr>
    </header>
    <div class="content">

        <div class='contact'>email: <a title='Написать нам на почту' href="mailto:example@gmail.com">example@gmail.com </a> </div>
		<div class='contact'>telegram: <a title='Мы в Telegram' href="http://t.me/Oleg9Let">@example </a> </div>
        <div class='contact'>Контактный телефон: +7 (123) 456-78-90 </div>
        <div class='contact'>Адрес:  123456, Мос­ква, Ле­нин­градский пр-т, 789А, с.1, БЦ «Мо­нАрх» </div>



    </div>
</body>
</html> 
