<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>KURS</title>
</head>

<body>
    <div class="welcomePage">
        <br>
        <br>
        <h1 class="name">KURS</h1>
        <hr>
        <br>
        <div class="underName">Архитектурное Бюро</div>
    </div>
    <div class="description">
        <h2>Кто Мы?</h2>
        <p class="pDark">
            Являясь одновременно и ремеслом, и искусством, архитектура требует применения как технических навыков, так и
            творческого потенциала. Архитектурное бюро «KURS» объединяет специалистов, готовых предложить грамотные
            функционально-технические решения, облаченные в творчество. Сотрудники бюро имеют все качества, которые необходимы
            для разработки уникального проекта любой сложности. Коллектив архитектурного бюро KURS, под управлением Ивана
            Бакушина и Марии Воропаевой, выполнил более 100 проектов разного масштаба: комплексное архитектурное проектирование,
            реконструкция, дизайн интерьеров.
        </p>
        <p class="pDark">
            Для создания проекта требуется командная работа всего коллектива. Командный дух, четкая и оперативная реализация
            поставленных задач – сегодня это безусловная норма. В архитектурном бюро сотрудничают высококвалифицированные
            дизайнеры и архитекторы, инженеры и конструкторы, каждый из которых любит свою работу, а потому прилагает к ней не
            только свои знания, но и талант. Специалисты компании усердно заботятся об общем деле и работают на результат – это
            во многом обеспечивается дружеской и творческой атмосферой.
        </p>
        <div class="img"><img alt='Изображение одного из примеров дизайна'
                src="static/images/office.jpg"
                width="600"></div>
    </div>
    <div class="ourTeam">
        <h2>Наша Команда</h2>
        <p class="pLight">
            В настоящий момент численность компании составляет порядка 200 человек, среди которых не только архитекторы, но и
            конструкторы, инженеры, менеджеры проектов: объединение в одной команде различных специалистов позволяет KURS
            разрабатывать комплексные решения и участвовать во всех стадиях работы над проектом любой сложности.
        </p>
        <div class="person">
            <div class="personDes">
                <h2>Сергей Головлев</h2>
                <p>
                    Родился в 1962 г. в Ленинграде. В 1980-1986 гг. учился на архитектурном факультете Санкт-Петербургского института
                    живописи, скульптуры и архитектуры имени И. Е. Репина. С 1986 г. работал в архитектурной мастерской В. Б.
                    Фабрицкого, с 1989 года - как самостоятельный архитектор.
                </p>
            </div>
            <img alt='Фотография Сергея Головлева' src="static/images/person1.jpg" height="200">
        </div>
        <div class="person">
            <div class="personDes">
                <h2>Дмитрий Прохоренко</h2>
                <p>
                    Родился в 1973 году в Москве. В 1990 г. поступил в Московский Архитектурный институт. На протяжении учебы участвовал
                    и побеждал в различных архитектурных конкурсах, в том числе международных. В 1996-2004 гг. работал в архитектурном
                    бюро «Группа АБВ»
                </p>
            </div>
            <img alt='Фотография Дмитрия Прохоренко' src="static/images/person2.jpg" height="200">
        </div>
        <div class="person">
            <div class="personDes">
                <h2>Анастасия Караваева</h2>
                <p>
                    Родилась в 1975 году в Москве. В 1998 году закончила МАТИ (Российский государственный технологический университет
                    им. К.Э. Циолковского).
                    Работает в архитектурном бюро с 2010 года. С 2012 г. ведет дела компании в должности управляющего.
                </p>
            </div>
            <img alt='Фотография Анастасии Караваевой' src="static/images/person3.jpg" height="200">
        </div>
    </div>
    <div class="portfolio">
        <h2>Наши Работы</h2>
        <p class="pDark">
            За свое существование бюро создало проекты современных, уютных, комфортабельных, функциональных жилых и коммерческих объектов. Нам можно
            доверить задачи любого уровня сложности – от оформления частных квартир до проектирования международных аэропортов.
            Архитектурное бюро KURS реализавало отдельные этапы работ и предлагает комплексное обслуживание. 
        </p>
       <a href="portfolio.html">Подробнее...</a>
    </div>
    <div class="Price">
        <h2>Почему Мы?</h2>
        <p class="pLight">
            Заказав услуги архитектурного бюро, вы сами выберете объем работ – от разработки эскизного проекта до авторского
            надзора.
            Помимо разработки документации мы осуществляем согласование в надзорных органах. Это исключает задержку получения
            разрешения на строительство. Благодаря тщательным расчетам наши клиенты экономят до 30% стоимости материалов.
            Разработаем интерьерные решения, которые будут соответствовать целям, особенностям эксплуатации объекта и финансовым
            возможностям. Создаем эстетичные, функциональные варианты оформления интерьера.
            Приняв решение заказать дизайн интерьера у нас, вы получите необходимую документацию для ремонта. Делаем
            перепланировку с согласовыванием.
        </p>
       <a href="price.html">Подробнее...</a>
    </div>
    <footer>
        <h3>KURS</h3>
        <div class="pages">
            <a href="portfolio">ПОРТФОЛИО</a>
            <a href="contacts" class="margin">КОНТАКТЫ</a>
			<a href="about" class="margin">О КОМПАНИИ</a>
            <a href="price" class="margin">ЦЕНЫ</a>
			<a href="lk" class="margin">ЛИЧНЫЙ КАБИНЕТ</a>
        </div>
        <div class="contacts">
            <a title='Написать нам на почту' href="mailto:saha262004@gmail.com"><img alt='Изображение электронной почты' src="static/social/letter.svg" width="50" class="zoomable"></a>
            <a title='Мы в Телеграм' href="http://t.me/Oleg9Let" class="margin"><img alt='Изображение социальной сети Telegram' src="static/social/telegram-logo.svg" width="50" class="zoomable"></a>
			<a title='Карта Сайта' href="map" class="margin"><img alt='Переход на карту сайта' src="static/social/map_black.png" width="50" class="zoomable"></a>
        </div>

    </footer>
</body>

</html>
