<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style2.css">
    <title>KURS - Карта Сайта</title>
</head>
<body>
    <header>
        <h1 class='pages'>Контакты
            <a href="index.html">НА ГЛАВНУЮ</a>
            <a href="portfolio.html">ПОРТФОЛИО</a>
			<a href="contacts.html">КОНТАКТЫ</a>
            <a href="about.html" class="margin">О КОМПАНИИ</a>
            <a href="price.html" class="margin">ЦЕНОВАЯ ПОЛИТИКА</a>
        </h1>
    </header>
   
	
	
	<div class="row">
            <div class="cooltext">
                
				<ul>
					<h5><li><a href="about.html" class="nav_prod">О компании</a></li></h5>
					<ul>
						<li><h4>История компании</h4></li>
						<li><h4>Наши принципы</h4></li>
					</ul>

					

					<h5><li><a href="portfolio.html" class="nav_prod">Портфолио</a></li></h5>
					<ul>
						<li><h4>Примеры выполненных заказов</h4></li>
					</ul>

					<h5><li><a href="contacts.html" class="nav_prod">Контакты</a></li></h5>
					<ul>
						<li><h4>Мы в социальных сетях</h4></li>
						<li><h4>Адрес</h4></li>
						<li><h4>Реквизиты комании</h4></li>
					</ul>
					
					<h5><li><a href="price.html" class="nav_prod">Ценовая политика</a></li></h5>
					<ul>
						<li><h4>Таблица услуг</h4></li>
						<li><h4>Калькулятор цены</h4></li>
					</ul>
					
				</ul>
                
            </div>
        </div>
</body>
</html> 
