<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style2.css">
    <title>KURS - Портфолио</title>
</head>
<body>
    <header>
        <h1 class='pages'>Портфолио
			<a href="/">НА ГЛАВНУЮ</a>
            <a href="portfolio">ПОРТФОЛИО</a>
			<a href="contacts">КОНТАКТЫ</a>
            <a href="about" class="margin">О КОМПАНИИ</a>
			<a href="price" class="margin">ЦЕНОВАЯ ПОЛИТИКА</a>
		</h1>
        <hr>
    </header>
    <div class="content">
        <div class="row">
            <div class="img"><img alt='Фотография первого завершённого проекта' src="static/images/house1.jpg"></div>

            <div class="img"><img src="static/images/house7.jpg"></div>
        </div>
        <div class="row">
            <div class="img"><img src="static/images/house3.jpg"></div>
            <div class="img"><img src="static/images/house4.jpg"></div>
        </div>
        <div class="row">
            <div class="img"><img src="static/images/house5.jpg"></div>
            <div class="img"><img src="static/images/house6.jpg"></div>

        </div>
    </div>
</body>
</html> 
